<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centennial Books - Login</title>
    <link rel="stylesheet" href="/css/login.css">
    <script src="/js/script.js"></script>
</head>

<body>
    <div class="container">
        <h2>CENTENNIAL BOOKS  <br><br> LOGIN</h2>
        <form action="/login" method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" id="password" placeholder="Password" required>
            <div class="show-password">
                <input type="checkbox" id="show-password">
                <label for="show-password">Show Password</label>
            </div>
            <br>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
